[[extend 'layout.html']]

<div class="container">
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="box">
                    <h1 class="title has-text-centered">
                        <span class="icon is-large has-text-primary">
                            <i class="fas fa-building"></i>
                        </span>
                        <br>
                        LDAP Login
                    </h1>
                    
                    <div class="content has-text-centered">
                        <p>Sign in with your organization account</p>
                    </div>
                    
                    <form method="POST" action="[[=URL('auth/sso/ldap')]]">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="username" required
                                       placeholder="Enter your username" autofocus>
                                <span class="icon is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="password" required
                                       placeholder="Enter your password">
                                <span class="icon is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth is-large" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </span>
                                    <span>Sign In</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    <hr>
                    
                    <div class="has-text-centered">
                        <a href="[[=URL('auth/login')]]" class="button is-light">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Back to Login</span>
                        </a>
                    </div>
                </div>
                
                <div class="notification is-light">
                    <p class="has-text-centered">
                        <i class="fas fa-info-circle"></i>
                        Use your organization username and password to sign in.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>